.____________jO73N {
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 227, 232);
}

._______________2cK75 {
  position: absolute;
  top: 1.6rem;
  right: -7.2rem;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  width: 20rem;
  height: 2.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: pink;
  border: 0.4rem solid hotpink;
  outline: 0.4rem solid pink;
}

.__________3ZVJg {
  margin-bottom: 2rem;
}

.__________1DOz1 {
  font-size: 2.5rem;
}

.__________1DOz1 * {
  vertical-align: bottom;
}

.__________1DOz1 img {
  width: 4rem;
  height: 4rem;
}

._____________16k34 {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}

._____________16k34 input {
  width: 4rem;
  height: 1.5rem;
  margin: 0 0.4rem;
  line-height: 1rem;
  text-align: center;
  background-color: pink;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
}

._____________16k34 input:first-child {
  margin-left: 0;
}

._____________3oKXp {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

._____________3oKXp div {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  margin-bottom: 0.5rem;
}

._____________3oKXp div:last-child {
  margin-bottom: 0;
}

._____________3oKXp input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}

._____________3oKXp input[type="checkbox"]::after {
  content: "";
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  color: hotpink;
  background-color: transparent;
  border: 0.2rem solid pink;
  border-radius: 0.2rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

._____________3oKXp input[type="checkbox"]:checked::after {
  content: "✔️";
  background-color: pink;
}

._____________3oKXp input[type="time"],
._____________3oKXp input[type="date"],
._____________3oKXp input[type="text"],
._____________3oKXp textarea {
  -webkit-flex: 1 1;
     -moz-box-flex: 1;
          flex: 1 1;
  max-width: 67%;
  height: 2rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: pink;
  border: none;
  border-radius: 0.5rem;
}

._____________3oKXp textarea {
  height: 4rem;
}

._____________3oKXp input[type="time"]:disabled,
._____________3oKXp input[type="date"]:disabled,
._____________3oKXp input[type="text"]:disabled,
._____________3oKXp textarea:disabled {
  color: rgb(175, 175, 175);
  background-color: rgb(175, 175, 175);
}

.___________2_NQR p {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
}

.___________2_NQR strong {
  -webkit-flex: 1 1;
     -moz-box-flex: 1;
          flex: 1 1;
  margin: 0 1rem;
}

