.컨테이너 {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #ffe3e8;
}

.이름입력란 input:first-child {
  margin-left: 0;
}

.선택입력란 {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
